figure img
  max-width: 20em
  height: auto

article:not(:first-of-type)
  @extend .border-t
  padding: 1em 0

#item-list li
  margin-bottom: 1em

#pubDate, #category
  @extend .fg-secondary
  font-style: italic
  display: block

#pubDate
  text-transform: capitalize