figure
  margin-left: 0
  margin-right: 0
#description
  img, iframe, video
    max-width: 100%
    height: auto
    filter: brightness(70%) contrast(120%)
    mix-blend-mode: difference
    @extend .rounded

article
  &:not(:first-of-type)
    @extend .border-top
    padding: 1em 0
  *:not(h2) a
    color: var(--fg-secondary) !important
    text-decoration: underline
    &:hover
      color: var(--link) !important
  // Remove horizontal rulers
  hr.wp-block-separator
      display: none

#item-list li
  line-height: normal
  margin-bottom: 1em
  a
    color: var(--fg-secondary) !important
    &:hover
      color: var(--link) !important
    &.inview
      color: var(--link) !important
      &:hover
        color: var(--fg-secondary) !important

#pubDate, #category
  @extend .fg-secondary
  font-style: italic
  display: block

#pubDate
  text-transform: capitalize

// Update on navigation
ul.navigation li span::after
  content: none